<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358329862330-ls9pu0i8vl23qr26h7qo0lvs5n33a2u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358329862330-ls9pu0i8vl23qr26h7qo0lvs5n33a2u7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>358329862330-93a4295vhahs3hcfgema8agjr1alog73.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfzEo_bDF0p0w9BrftoF7p23rOpOZn-7s</string>
	<key>GCM_SENDER_ID</key>
	<string>358329862330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matajiri.Edllshop</string>
	<key>PROJECT_ID</key>
	<string>edllshop</string>
	<key>STORAGE_BUCKET</key>
	<string>edllshop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358329862330:ios:c26c04e43171fa52c6da83</string>
</dict>
</plist>